body{
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.header_nav ul{
    display: flex;
    font-size: 32px;
    font-weight: 800;
    background-color: green;
    justify-content: space-between;
}
header{
    background-color:yellowgreen;
}
.header_nav ul li{
    list-style: none;
}
.header_nav ul li a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
    height: auto;
}